attrs==22.2.0
aws-cdk-lib==2.60.0
aws-cdk.asset-awscli-v1==2.2.74
aws-cdk.asset-kubectl-v20==2.1.1
aws-cdk.asset-node-proxy-agent-v5==2.0.63
cattrs==22.2.0
certifi==2022.12.7
cfgv==3.3.1
charset-normalizer==2.1.1
constructs==10.1.256
contourpy==1.0.7
cycler==0.11.0
distlib==0.3.6
exceptiongroup==1.1.0
filelock==3.9.0
fonttools==4.39.0
futures==3.0.5
identify==2.5.18
idna==3.4
importlib-resources==5.12.0
iniconfig==2.0.0
jsii==1.75.0
kiwisolver==1.4.4
matplotlib==3.7.1
nodeenv==1.7.0
numpy==1.24.2
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
platformdirs==3.0.0
pluggy==1.0.0
pre-commit==3.0.4
publication==0.0.3
pyparsing==3.0.9
pytest==7.2.2
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
requests==2.28.1
six==1.16.0
tomli==2.0.1
typeguard==2.13.3
typing_extensions==4.5.0
urllib3==1.26.13
virtualenv==20.19.0
zipp==3.15.0
